[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"
rope = "*"

[packages]
django = "~=2.2.13"
channels = "~=1.1.8"
docutils = "*"
django-heroku = "*"

[requires]
python_version = "3.9"

[scripts]
start = "python manage.py runserver"
test = "wscat -c ws://localhost:8000/ws"
format = "autopep8 -ivr ."
lint = "flake8 --show-source ."
