[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"
rope = "*"

[packages]
django = "==2.1.15"
channels = "==1.1.8"

[requires]
python_version = "3.8"

[scripts]
start = "python manage.py runserver"
test = "python -m unittest discover -v"
format = "autopep8 -ivr ."
lint = "flake8 --show-source ."
